
PORT=10000

MONGODB_URI=mongodb+srv://rajaganeshcse:209832@cluster.mongodb.net/portfolio_db?retryWrites=true&w=majority

JWT_SECRET=rajaganesh@2026_secure_key!

ADMIN_USERNAME=Rajaganesh
ADMIN_PASSWORD=209832

CLIENT_URL=https://rajaganeshcse.vercel.app

NODE_ENV=production